
/* Fonts and Colors */

body {
	background: rgb(245,245,245);
	color: black;
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #FF5607;
	font-size: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 18px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: green;
}

/* Custom design */

#banner{
  text-align: center;
  background-image: url("images/geometric.jpg");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 8px black;
  box-shadow: 1px 1px 8px lightgrey
  ;

}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

#banner button {
  border-radius: 31px;
  font-size: 15px;
  color: black;
  padding: 11px 38px;
  margin-top: 50px;
}
#banner button:hover {
  background-color: black;
  color: white;
}

footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  font-size: 10px;
}
.card {
  padding: 50px;
  font-weight: lighter;
}

footer a {
  color: lightgrey;
  font-size: 15px;
}

footer a:hover {
  color: white;
}

/*Media queries*/



 